{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Flask Login Example
</h1>

<h2 class="subtitle">
  calendar
</h2>

<table class="calendar">
  <tr>
    {% for row in range(0, 7) %}
    <th>
      {{data[row][1]}}
    </th>
    {% endfor %}
  </tr>
  
    {% for row in range(0, data |length // 7) %}
    <tr>
        {% for column in range(0,7) %}
        <td>
          <div  class = {{'day' if not data[row * 7 + column][0] == 0}}>
            {{ data[row * 7 + column] }}
          </div> 
        </td>
        {% endfor %}
    </tr>   
  {% endfor %}
</table>
{% endblock %}