asn1crypto==0.24.0
click==8.0.1
coverage==5.5
cryptography==2.1.4
dataclasses==0.8
Flask==1.1.2
idna==2.6
importlib-metadata==4.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==2.0.1
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
